<!--<header class="site-header">-->
<!--  <a href="/" class="brand">-->
<!--    <img ngSrc="img/JarqueBusiness.png" alt="Héctor Jarque" width="36" height="36"/>-->
<!--    <span>Héctor Jarque</span>-->
<!--  </a>-->

<!--  <nav class="main-nav" [class.open]="menu()">-->
<!--    <a href="#que-hago" (click)="closeMenu()">{{ 'nav.whatIDo' | translate }}</a>-->
<!--    <a href="#sobre-mi" (click)="closeMenu()">{{ 'nav.aboutMe' | translate }}</a>-->
<!--    <a href="#proyectos" (click)="closeMenu()">{{ 'nav.projects' | translate }}</a>-->
<!--    <a href="#contacto" (click)="closeMenu()">{{ 'nav.contact' | translate }}</a>-->
<!--  </nav>-->

<!--  <div class="header-actions">-->
<!--    <p-select-->
<!--      [options]="languages"-->
<!--      optionLabel="label"-->
<!--      optionValue="code"-->
<!--      [ngModel]="lang()"-->
<!--      (ngModelChange)="changeLang($any($event))"-->
<!--      styleClass="lang-select"-->
<!--    >-->
<!--      <ng-template pTemplate="selectedItem" let-item>-->
<!--        @if (item) {-->
<!--          <div class="lang-option">-->
<!--            <img [src]="item.flag" [alt]="item.label" class="flag">-->
<!--            <span>{{ item.label }}</span>-->
<!--          </div>-->
<!--        }-->
<!--      </ng-template>-->

<!--      <ng-template pTemplate="item" let-item>-->
<!--        <div class="lang-option">-->
<!--          <img [src]="item.flag" [alt]="item.label" class="flag">-->
<!--          <span>{{ item.label }}</span>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </p-select>-->

<!--    <button (click)="toggleTheme()">-->
<!--      <i [class]="dark() ? 'pi pi-moon' : 'pi pi-sun'"></i>-->
<!--    </button>-->

<!--    <button class="menu-toggle" (click)="toggleMenu()">-->
<!--      <i [class]="menu() ? 'pi pi-times' : 'pi pi-bars'"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</header>-->
